@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";
@layer utilities {
  input:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff !important;
  }
}
:root {
  --background-light: #ffffff; 
  --text-light: #242424; 

  --background-dark: #0a0e18; 
  --text-dark: #ffffff; 

  --highlight-color-light: #FF7043; 
  --highlight-color-dark: #4f39f6; 
}

html,body {
  font-family: 'Sarabun', sans-serif;
  scroll-behavior: smooth;
}

.light body {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light h1, .light h2, .light h3 {
  color: var(--text-light);
  font-weight: 700;
}
.light .navbar {
  background-color: var(--background-light);
  color: var(--text-light);
}
.light .navbar-bg {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.light .swap-bg {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.light .thead {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.light .loader {
  background-color: #ffffff6e;
  color: var(--text-light);
}

.light .btn-primary {
  background-color: var(--highlight-color-light);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}


.light .highlight {
  color: var(--highlight-color-light);
}


.dark body {
  background-color: var(--background-dark);
  color: var(--text-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark h1, .dark h2, .dark h3 {
  color: var(--text-dark);
}

.dark .btn-primary {
  background-color: var(--highlight-color-dark);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.dark .navbar {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
.dark .navbar-bg {
  background-color: var(--background-light);
  color: var(--text-light);
}
.dark .swap-bg {
  background-color: var(--background-light);
  color: var(--text-light);
}
.dark .thead {
  background-color: var(--background-light);
  color: var(--text-light);
}
.dark .loader{
  background-color: #0a0e1879;
  color: var(--text-dark);
}

.dark .highlight {
  color: var(--highlight-color-dark);
}

/* Scorll bar */
::-webkit-scrollbar {
  height: 2px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
  background-color: #b485ff6e; 
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #60a5fa; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}





